*{
  background: #dccec4;
  margin: 0;
  padding: 0;
}




.App {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}
.header{
  margin-top: 0;
  width: 100%;
  color: white;
  font-size: 3rem;
  background: #000;
}

.profileCard{
  background-color: #de8b8b;
  padding: 10px;
  width: 280px;
  height: 310px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}
.text{
  background-color: #de8b8b;
  margin-bottom: 20px;
}



.footer{
  width: 100%;
  color: white;
  background: #000;
  margin-top: 10px;
}




